.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color:white;
}
a:visited{
  color: white;
}

.router{
  height: auto;
}