.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  height: 100%;
  width: 100%;
    background-color: #FAFAFA;
}

a {
  text-decoration: none !important;
  color:none !important;
}
a:visited{
  color: 'white' !important;
}

.router{
  height: auto;
}

