.loginTitle {
    font-size:42px;
    font-weight:normal;
    color:#424242;
    margin-top:40px;
}

.loginBtn{
    width: 200px;
    height: 44px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 1px;
}
