.Avatar {
	display: flex;
	text-align: center;
	width: 100px;
	height: 100px;
	background-color: gray;
	color: white;
	border-radius: 50px;
	margin: 70px
}

.invalid-feedback {
	color: red;
}

.loginTitle {
	font-size:42px;
	font-weight:normal;
	color:#424242;
	margin-top:40px;
}
.registerBtn{
    width: 300px;
    height: 44px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 1px;
}



/*export const containerLayout = {*/
	/*display: 'flex',*/
	/*flexDirection: 'column',*/
	/*flexWrap: 'nowrap',*/
	/*justifyContent: 'space-between',*/
	/*alignItems: 'center',*/
/*};*/

/*export const innerDiv = {*/
	/*width: 'auto',*/
/*};*/
